/* Bottom Sheet Container*/
.container {
  width: 100%;
  height: 100%;
  display: none; /*by default our overlay is also hidden*/
  justify-content: center; /*using justify content center we fixed our bottomsheet position horrizontally center*/
  align-items: flex-end; /*using align item flex end we fixed our bottomsheet position vertically bottom*/
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*bottom sheet*/
.bottomSheet {
  width: 500px;
  height: 300px;
  background-color: white;
  transform: translateY(100%); /*by default bottomSheet is hidden */
  transition: transform 0.4s ease-in-out; /*animation for open*/
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}

/*for visible bottomsheet we need to do onclick "transform:translateY(0)" */

.showBtn {
  margin-top: 5%;
  font-weight: bold;
  font-size: medium;
  padding: 12px;
  border-radius: 5px;
  background-color: rgb(32, 177, 88);
  color: white;
  border: none;
}
.showBtn:hover {
  background-color: rgb(26, 155, 26);
}
